body{

    background-color: #00AB6F;
}


.card{

    width: 800px;
    height: 775px;
    border:none;

}




.btr{

    border-top-right-radius: 5px !important;
}


.btl{

    border-top-left-radius: 5px !important;
}

.btn-dark {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}


.btn-dark:hover {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}


.nav-pills{

    display:table !important;
    width:100%;
}

.nav-pills .nav-link {
    border-radius: 0px;
    border-bottom: none;
    height: 100px;
}

.nav-item{
    display: table-cell;
    background: #0d6efd2e;
}


.form{

    padding: 10px;
    height: 300px;
}

.form input{

    margin-bottom: 12px;
    border-radius: 3px;
}


.form input:focus{

    box-shadow: none;
}


.form button{

    margin-top: 20px;
}
.mk{
    float: left;
}
a{
    color: none;
    text-decoration: none;
}
.forgot{
    margin-top: 40px;
}
#pills-home-tab\ logincolor{
    background-color: #fff;
    color: black;
}
#pills-profile-tab\ registercolor{
    background-color: #E1E1E1;
    color: #fff;
}
label{
    text-transform: uppercase;
}
#signin{
    height: 80px;
    background-color: #00AB6F;
}
.form-control{
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.face{
    height: 150px;
    background-color: #005FA3;
    margin-top: 20px;
}
.icon{
    width: calc(25% - 40px);
    padding: 10px;
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
}
.facebook{
    width: calc(75% - 60px);
    padding: 20px;
    font-size: 16px;
    text-align: left;
    margin-top: 10px;
}
span{
    color: #fff;
}
.google{
    height: 150px;
    background-color: #E42D4B;
}
